@model Slider
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="row">

       <div class="mb-3">
        <label asp-for="Title1" class="form-label">Title1</label>
        <input asp-for="Title1" class="form-control" aria-describedby="Title1">
    
       </div>
       <div class="mb-3 col-md-3">
        <label asp-for="Desc" class="form-label">Desc</label>
        <input asp-for="Desc" class="form-control" aria-describedby="Desc">

        </div>
       <div class="mb-3 col-md-3">
        <label asp-for="ImageFile" class="form-label">ImageFile</label>
        <input asp-for="ImageFile" class="form-control" aria-describedby="ImageFile">

       </div>

    </div>

  
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

